<html>
    <body>
        <form action = "/addrec" method = "POST">
            <h3>Student Information</h3>
            Name <br>
            <input type = "text" name = "nm"/>><br>
            Address <br>
            <text area name = "addr"></textarea><br>
            City <br>
            <input type = "text" name = "city"/><br>
            PINCODE <br>
            <input type = "text" name = "pin"/><br>
            <h3><input type = "submit" value = "Submit"/></h3>
        </form>
    </body>
</html>